.container{
    height: 4rem;
    display: flex;
    padding: 0 4rem;
    box-shadow: 2px 2px 2px 1px #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    display: flex;
    width: 10rem;
    align-items: center;
}

.logo img {
    width: 1.5rem;
}

.logo h1 {
    font-size: 1.6rem;
    margin-left: 0.4rem;
}

.navLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
}

.navLink{
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 4px solid #ccc;
    padding: 1.7rem 3px 1rem;
}

.activeNav{
    border-color:#20b883;
    color: #20b883;
}

.logOut{
    position: absolute;
    right: 4rem;
    bottom: 1.4rem;
}