.light{
    color: #8c8c8c;
}

.lightP{
    font-size: 0.8rem;
    margin-top: 3px;
    font-weight: 700;
}

.w10rem{
    width: 10rem;
}

.w5{
    width: 5rem;
}

.link{
    text-decoration: none;
}